@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    background: #b5f38b;
}

body {
    width: 100%;
    height: 100%;
    color:black;
    background: #b5f38b;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}

